.filter {
}
.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  .button {
    letter-spacing: 0.03em;
    color: var(--font-color);
    background: var(--background-button);

    padding: 6px 22px;
    line-height: 1.625;
    font-weight: 500;
  }
}
